<%- include ../layout/header.ejs %>

<div ng-controller="projectsCtrl" xmlns="http://www.w3.org/1999/html">
    <h1 class="page-header">
        Your projects
    </h1>


    <% if(!(typeof locals.projects === 'undefined') && locals.projects instanceof Array)
    {
    %>
    <% if(locals.projects.length > 0)
    {
    %>

    <table class="table table-striped table-hover">

        <thead>
        <tr>
            <th width="20%">Title</th>
            <th width="30%">Description</th>
            <th width="50%"></th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0; i < locals.projects.length; i++)
        {
            var project = locals.projects[i];
        %>
        <%if(project && (!project.ddr.deleted == 1 || (locals.user != null))) { %>
        <tr
                <%if(project.ddr.deleted == 1) {%>
                class="warning"
                <%}%>
        >

            <td>
                <% if(project.ddr.deleted)
                {
                %>
                <s>
                    <%
                    }
                    %>
                    <form>
                        <div class="btn-group">
                            <%if(!project.ddr.hasErrors && !project.ddr.is_being_imported)
                            {
                            %>
                            <button type="submit" class="btn btn-default" onclick="location.href='<%=project.uri%>'">
                                <img class="icon16" id="upload_button" src="/images/icons/box_closed.png"> <%= (project.dcterms.title)? project.dcterms.title : project.ddr.handle %>
                            </button>
                            <%} else {%>
                            <button style='color:red;text-decoration:line-through' type="submit" class="btn btn-default">
                                <img class="icon16" id="upload_button" src="/images/icons/box_closed.png"> <%= (project.dcterms.title)? project.dcterms.title : project.ddr.handle %>
                            </button>
                            <%}%>
                            <%
                            if(locals.user != null && locals.user.uri == project.dcterms.creator)
                            {
                            %>

                            <%
                            }
                            %>
                        </div>
                    </form>
                    <% if(!project.ddr.deleted)
                    {
                    %>
                </s>
                <%
                }
                %>
            </td>
            <td>

                <% if(project.ddr.deleted)
                {
                %>
                <s>
                    <%
                    }
                    %>
                    <b><%= project.dcterms.description %></b>
                    <% if(!project.ddr.deleted)
                    {
                    %>
                </s>
                <%
                }
                %>
            </td>
        </tr>
        <% }  %>
        <% } %>
        </tbody>
    </table>
    <div abso class="panel-body" style="background-color: white;">
        <div class="btn-group pull-right">
            <div class="pull-right">
                <button class="btn btn-default btn-sm">Continue</button>
            </div>
        </div>
    </div>
    <% } else { %>
    <div class="row">
        <br/>
        <div class="col-xs-12">
            <div class="alert alert-info">
                You have not created any projects nor are registered as a contributor of any project.
                <br/>
                <br/>
                Please create a project using the button you can see above this message or ask the creator of a project to add you as a contributor.
            </div>
        </div>
    </div>

    <% }  %>
    <% } %>
    <%- include ../layout/footer.ejs %>

</div>
