	<%- include ../layout/header.ejs %>
        <%- include ../layout/pagination/start.ejs %>

        <table>
        <%  var total = vertexes.length;
            for(var i=0;i < total; i++) { %>
        <tr>
            <td>
                <b>
                    <a href="/vertexes/show?vertex_uri=<%=encodeURI(vertexes[i].s)%>"><%= vertexes[i].s %></a>
                </b>
            </td>
        </tr>

        <% } %>

	    </table>

    <%- include ../layout/pagination/end.ejs %>

<%- include ../layout/footer.ejs %>
