<%- include ../layout/header.ejs %>

<h3>Random Vertex URI is:</h3>    
<%= vertex %>

<% if(!neighbours) { %>

	<h3>The neighbours are:</h3>
	
	<% for(var i=0; i<neighbours.length;i++) { %>
	
	<table>
	<tr>
		<td width="70%">
		<%= neighbours[i].p%>
		</td>
		
		<td width="30%">
		<%= neighbours[i].o%>
		</td>
	</tr>
	</table>
	
	<% } %>

<% } %>
    
<%- include ../layout/footer.ejs %>