<%- include ../layout/header.ejs %>

<h3>Vertex URI is:</h3>

<b><%= vertex %></b>
    
<% if(neighbours) { %>
	
	<% for(var i=0; i<neighbours.length;i++) { %>
	
        <table>
            <tr>
                <td align="left" valign="top" width="20%">
                    <%= neighbours[i].p%>
                </td>

                <td width="80%">
                <%= decodeURI(neighbours[i].o) %>
                </td>
            </tr>
        </table>
	
	<% } %>

<% } %>
    
<%- include ../layout/footer.ejs %>