<%- include ../layout/header.ejs %>

<div ng-controller="timelineCtrl" ng-init="initSinglePost();get_logged_user();">
    <p> "<%= postContent.uri %>"</p>
    <p> Modified "<%= postContent.dcterms.modified %>"</p>
    <div ng-init='getPost("<%= postUri %>", null);postLikesInfo("<%= postUri %>");getCommentsFromPost("<%= postUri %>");getSharesFromPost("<%= postUri %>")'>
        <div class="panel panel-info" ng-if='postList["<%= postUri %>"].rdf.isShare'>
            <div class="panel-heading">
                <h3 class="panel-title"> {{postList["<%= postUri %>"].dcterms.modified | date : 'dd/MMM/yyyy'}} <a ng-href="{{postList['<%= postUri %>'].ddr.userWhoShared}}"> {{postList["<%= postUri %>"].ddr.userWhoShared.split('/').pop()}} </a> : "{{postList["<%= postUri %>"].ddr.shareMsg}}"</h3>
            </div>
            <div class="panel-body">
                <!-- obtain the original post information-->
                <div ng-init='getPost(postList["<%= postUri %>"].ddr.postURI, null);' style="padding-left: 2%">
                    <!-- The info from the original post-->
                    <div class="btn-group panel panel-success" style="background-color:#e5e6e8; border-style: dashed; border-width:2px;">
                        <div class="panel-heading">
                            <h3 class="panel-title"> {{postList[postList["<%= postUri %>"].ddr.postURI].dcterms.modified | date : "dd/MMM/yyyy"}} <a ng-href="{{postList[postList['<%= postUri %>'].ddr.postURI].dcterms.creator}}"> {{postList[postList["<%= postUri %>"].ddr.postURI].dcterms.creator.split('/').pop()}} </a> {{actionTypesDictionary[postList[postList["<%= postUri %>"].ddr.postURI].ddr.changeType]}} a descriptor </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table changelog-table text-center">
                                <img width="10%" height="20%" ng-src="http://iconshow.me/media/images/ui/ios7-icons/png/256/contact-outline.png" alt="Description">
                                <tr>
                                    <th class="text-center" width="14%">

                                    </th>
                                    <th width="14%" class="text-center">
                                        Author
                                    </th>
                                    <th width="14%" class="text-center">
                                        Change Type
                                    </th>
                                    <th width="14%" class="text-center">
                                        File
                                    </th>
                                    <th width="14%" class="text-center">
                                        Descriptor
                                    </th>

                                    <th width="14%" class="text-center" ng-hide='postList[postList["<%= postUri %>"].ddr.postURI].ddr.newValue == null'>
                                        Value
                                    </th>

                                    <th width="14%" class="text-center">

                                    </th>
                                </tr>

                                <tr>
                                    <td> </td>
                                    <td> <a ng-href='{{postList[postList["<%= postUri %>"].ddr.postURI].dcterms.creator}}'> {{postList[postList["<%= postUri %>"].ddr.postURI].dcterms.creator.split('/').pop()}} </a> </td>
                                    <td> {{postList[postList["<%= postUri %>"].ddr.postURI].ddr.changeType}} </td>
                                    <td> <a ng-href="{{postList[postList['<%= postUri %>'].ddr.postURI].ddr.hasContent.split('/version/')[0]}}"> {{postList[postList["<%= postUri %>"].ddr.postURI].ddr.hasContent.split('/version/')[0].split('/').pop()}} </a> </td>
                                    <td> {{postList[postList["<%= postUri %>"].ddr.postURI].ddr.changedDescriptor}} </td>
                                    <td ng-hide='postList[postList["<%= postUri %>"].ddr.postURI].ddr.newValue == null'> {{postList[postList["<%= postUri %>"].ddr.postURI].ddr.newValue}} </td>
                                    <td> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- aqui -->
        <div class="panel panel-success" ng-if='!postList["<%= postUri %>"].rdf.isShare'>
            <div class="panel-heading">
                <h3 class="panel-title"> {{postList["<%= postUri %>"].dcterms.modified | date : 'dd/MMM/yyyy'}} <a ng-href="{{postList['<%= postUri %>'].dcterms.creator}}"> {{postList["<%= postUri %>"].dcterms.creator.split('/').pop()}} </a> {{actionTypesDictionary[postList["<%= postUri %>"].ddr.changeType]}} a descriptor </h3>
            </div>
            <div class="panel-body">
                <img width="10%" height="10%" ng-src="http://iconshow.me/media/images/ui/ios7-icons/png/256/contact-outline.png" alt="Description" />
                <table class="table changelog-table text-center">
                    <tr>
                        <th width="14%" class="text-center">

                        </th>
                        <th width="14%" class="text-center">
                            Author
                        </th>
                        <th width="14%" class="text-center">
                            Change Type
                        </th>
                        <th width="14%" class="text-center">
                            File
                        </th>
                        <th width="14%" class="text-center">
                            Descriptor
                        </th>

                        <th width="14%" class="text-center" ng-hide='postList["<%= postUri %>"].ddr.newValue == null'>
                            Value
                        </th>

                        <th width="14%" class="text-center">

                        </th>
                    </tr>

                    <tr>
                        <td> </td>
                        <td> <a ng-href='{{postList["<%= postUri %>"].dcterms.creator}}'> {{postList["<%= postUri %>"].dcterms.creator.split('/').pop()}} </a> </td>
                        <td> {{postList["<%= postUri %>"].ddr.changeType}} </td>
                        <td> <a ng-href="{{postList['<%= postUri %>'].ddr.hasContent.split('/version/')[0]}}"> {{postList["<%= postUri %>"].ddr.hasContent.split('/version/')[0].split('/').pop()}} </a> </td>
                        <td> {{postList["<%= postUri %>"].ddr.changedDescriptor}} </td>
                        <td ng-hide='postList["<%= postUri %>"].ddr.newValue == null'> {{postList["<%= postUri %>"].ddr.newValue}} </td>
                        <td> </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <p> {{likesPostInfo["<%= postUri %>"].numLikes}} likes, {{commentList["<%= postUri %>"].length}} comments, {{shareList["<%= postUri %>"].length}} shares</p>
    <div class="btn-group">
        <!--indexOf(substring) > -1-->
        <label ng-model="checkModel.left" ng-class="likesPostInfo['<%= postUri %>'].usersWhoLiked.indexOf(loggedUser) > -1 ? 'btn btn-success' : 'btn btn-primary'" uib-btn-checkbox data="{{postList['<%= postUri %>'].uri}}" ng-click="likePost(postList['<%= postUri %>'].uri)"> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</label>
        <label class="btn btn-primary" ng-model="checkModel.middle" uib-btn-checkbox data="{{postList['<%= postUri %>'].uri}}" ng-click="isReplyFormOpen = !isReplyFormOpen; getCommentsFromPost(postList['<%= postUri %>'].uri);isShareFormOpen = false;"> <i class="fa fa-comment" aria-hidden="true"></i> Comment</label>
        <label class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox data="{{postList['<%= postUri %>'].uri}}" ng-click="isShareFormOpen = !isShareFormOpen; getSharesFromPost(postList['<%= postUri %>'].uri);isReplyFormOpen = false;"> <i class="fa fa-share" aria-hidden="true"></i> Share</label>
    </div>

    <div ng-init="isReplyFormOpen = false" ng-show="isReplyFormOpen" id="replyForm">
        <div class="wall">
            <div ng-repeat="comment in commentList[postList['<%= postUri %>'].uri] | orderBy: 'dcterms.created'">
                <a ng-href="{{comment.ddr.userWhoCommented}}"><p style="font-weight:bold"> {{comment.ddr.userWhoCommented.split('/').pop()}} : </p></a>
                <p style="font-style: italic">{{comment.ddr.commentMsg}}</p>
                <span>{{comment.dcterms.created | date:'MM/dd/yyyy @ h:mma'}}</span><br>
                <hr>
            </div>
            <label for="new_comment_box">{{loggedUser.split('/').pop()}} :</label>
            <textarea class="form-control" rows="5" id="new_comment_box" ng-model="comment_content" placeholder="Write your comment here"></textarea>
            <a ng-click="commentPost(postList['<%= postUri %>'].uri,comment_content);comment_content=''" class="btn btn-default btn-primary">Send</a>
        </div>
    </div>

    <div ng-init="isShareFormOpen = false" ng-show="isShareFormOpen" id="replyFormShare">
        <div class="wall">
            <label for="new_post_box_share">{{loggedUser.split('/').pop()}} :</label>
            <textarea class="form-control" rows="5" id="new_post_box_share" ng-model="share_content" placeholder="Write your share message here"></textarea>
            <a ng-click="sharePost(postList['<%= postUri %>'].uri,share_content);share_content=''" class="btn btn-default btn-primary">Send</a>
        </div>
    </div>
</div>
<%- include ../layout/footer.ejs %>
