<%- include ../layout/header.ejs %>

<div ng-controller="timelineCtrl" ng-init="initSingleShare('<%=shareUri%>');get_logged_user();">
    <!--<ng-include src="'/app/views/social/showShare.html'" ng-init="shareUri = '<%=shareUri%>'"></ng-include>-->
    <ng-include src="'/app/views/social/showShare.html'" onload="shareUri = '<%=shareUri%>'; postUri = '<%=postUri%>'"></ng-include>
</div>

<%- include ../layout/footer.ejs %>
