<%- include ../layout/header.ejs %>

<div>
    <h1 class="page-header">
        Delete a deposit
    </h1>

    <form action="" method="POST">
        <div class="panel panel-danger">
            <div class="panel-heading"><strong>Really delete deposit?</strong></div>
            <div class="panel-body text-center" >
                <h4 class="page-header">
                    Are you REALLY SURE you want to completely delete deposit? There is no way to recover any data or metadata after this operation!
                </h4>
                <h5>
                    Identifier: <a href="<%=deposit.uri%>"><%=deposit.uri%></a>
                </h5>
                <h5>
                    Title: <%=(deposit.dcterms.title)? deposit.dcterms.title: "No title available"%>
                </h5>
                <h5>
                    Description: <%=(deposit.dcterms.description)? deposit.dcterms.description: "No description available"%>
                </h5>
                <div class="control-group has-feedback">
                    <label for="really_delete" class="control-label"></label>
                    <input type="hidden" value="<%=deposit.ddr.handle%>" name="delete">
                    <input type="text"
                           class="form-control"
                           id="really_delete"
                           placeholder="Write 'REALLY DELETE' to delete"
                           required>

                    <p class="help-block danger">To confirm the delete operation, type "REALLY DELETE" in this box</p>
                </div>

                <button type="submit"
                        class="btn btn-danger btn-large"
                        id="delete_deposit_button"
                        disabled
                        >
                    <i class="fa fa-bomb"></i>
                    Delete the deposit
                </button>
            </div>
        </div>
    </form>

    <script type="text/javascript">
        $('#really_delete').on('input propertychange paste', function() {
            unlock_delete_button('REALLY DELETE');
        });

        function unlock_delete_button (deposit_really_delete)
        {
            var text = $("#really_delete").val();
            if(text === deposit_really_delete)
            {
                $("#delete_deposit_button").prop('disabled', false);
            }
            else
            {
                $("#delete_deposit_button").prop('disabled', true);
            }
        }

    </script>

    <%- include ../layout/footer.ejs %>
</div>