<%- include ../layout/header.ejs %>

<h1 class="page-header">
    Projects
</h1>

    <%- include ../layout/pagination/start.ejs %>

        <% if(!(typeof locals.projects === 'undefined'))
        {
        %>
            <br/>
            <table class="table">
            <tr>
                <th>Access</th>
                <th>Handle</th>
                <th>Title</th>
                <th>Description</th>
                <th>Creator</th>
            </tr>
            <%  var total = locals.projects.length;
                var count = locals.count;

                if(total > 0)
                {
                    for(var i = 0; i < total; i++)
                    {
                        var project = locals.projects[i];
            %>
                        <tr>
                    <td>
                        <% if( project.ddr.privacyStatus == "public") {  %>
                        <span class="fa-stack fa-1x">
                                <i class="fa fa-globe fa-stack-2x text-default"></i>
                            </span>
                        Public
                        <% } else if( project.ddr.privacyStatus == "metadata_only") {%>
                        <span class="fa-stack fa-1x">
                                <i class="fa fa-unlock fa-stack-2x text-default"></i>
                            </span>
                        Metadata Only
                        <% } else if( project.ddr.privacyStatus == "private") {%>
                        <span class="fa-stack fa-1x">
                                <i class="fa fa-lock fa-stack-2x text-default"></i>
                            </span>
                        <span class="label label-success">Visible only for you</span>
                        Private
                        <% } %>
                    </td>

                    <td>
                        <b>
                            <a href="<%=locals.projects[i].uri%>"><%=locals.projects[i].ddr.handle%></a>
                        </b>
                    </td>
                    <td>
                        <b>
                            <a href="<%=locals.projects[i].uri%>">
                                <%= locals.projects[i].dcterms.title %>
                            </a>
                        </b>
                    </td>
                    <td>
                        <%= locals.projects[i].dcterms.description %>
                    </td>
                    <td>
                        <a href="<%= locals.projects[i].dcterms.creator %>"><%=locals.projects[i].dcterms.creator%></a>
                    </td>
                    <!--
                        <td>
                            <b>
                                <a href="<%=locals.projects[i].dcterms.creator%>">
                                    <%= locals.projects[i].dcterms.creator %>
                                </a>
                            </b>
                        </td>
                        -->
                </tr>
            <%
                    }
                } else {
            %>
                <div class="row">
                    <br/>
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            There are currently no projects.
                        </div>
                    </div>
                </div>
        <% } %>

        </table>

    <% } %>

    <%- include ../layout/pagination/end.ejs %>

<%- include ../layout/footer.ejs %>
