<%- include ../layout/header.ejs %>

<div ng-controller="projectsCtrl" xmlns="http://www.w3.org/1999/html">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#list" aria-controls="home" role="tab" data-toggle="tab">Projects list</a></li>
        <!--<li role="presentation"><a href="#timeline" ng-click="tab_changed('timeline')" aria-controls="profile" role="tab" data-toggle="tab">Timeline</a></li>-->
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="list">
            <h1 class="page-header">
                Your projects
            </h1>
            <%- include options_head.ejs%>

                    <% if(!(typeof locals.projects === 'undefined') && locals.projects instanceof Array)
                    {
                    %>
                        <% if(locals.projects.length > 0)
                        {
                        %>
                            <table class="table table-striped table-hover">

                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Creator</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i = 0; i < locals.projects.length; i++)
                                        {
                                        var project = locals.projects[i];
                                    %>
                                        <%if(!project.ddr.deleted == 1 || (locals.session != null && locals.session.user != null && locals.session.user.uri == project.dcterms.creator)) { %>
                                            <tr
                                                <%if(project.ddr.deleted == 1) {%>
                                                    class="warning"
                                                <%}%>
                                                >
                                                <td>
                                                    <%=i%>
                                                </td>

                                                <td>
                                                    <b>
                                                        <a href="/project/<%=project.ddr.handle%>">
                                                            <% if(project.ddr.deleted)
                                                            {
                                                            %>
                                                                <s>
                                                            <%
                                                            }
                                                            %>
                                                                <%= project.dcterms.title %>
                                                            <% if(!project.ddr.deleted)
                                                            {
                                                            %>
                                                                </s>
                                                            <%
                                                            }
                                                            %>
                                                            <%if(locals.session != null && locals.session.user != null && locals.session.user.uri == project.dcterms.creator) {%>
                                                                <span class="label label-success">Creator</span>
                                                            <%}%>
                                                            <%if(project.ddr.deleted == 1) {%>
                                                                <span class="label label-danger">Deleted</span>
                                                            <%}%>
                                                        </a>
                                                    </b>
                                                </td>
                                                <td>

                                                    <% if(project.ddr.deleted)
                                                    {
                                                    %>
                                                        <s>
                                                    <%
                                                    }
                                                    %>
                                                            <b><%= project.dcterms.description %></b>
                                                    <% if(!project.ddr.deleted)
                                                    {
                                                    %>
                                                        </s>
                                                    <%
                                                    }
                                                    %>
                                                </td>
                                                <td>
                                                    <b>
                                                        <a href="<%=project.dcterms.creator%>">
                                                            <%= project.dcterms.creator %>
                                                        </a>
                                                    </b>
                                                </td>
                                                <%
                                                if(locals.session != null && locals.session.user != null && locals.session.user.uri == project.dcterms.creator)
                                                {
                                                %>
                                                    <td class="col-md-2 col-xs-4">
                                                        <div class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Operations
                                                                <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a href="/project/<%=project.ddr.handle%>?administer"><i class="fa fa-cog"></i>Administer</a>
                                                                </li>
                                                                <li>
                                                                    <a href="/project/<%=project.ddr.handle%>?bagit"><i class="fa fa-file-zip-o"></i>Backup</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                <% } %>
                                            </tr>
                                            <% }  %>
                                        <% } %>
                                </tbody>
                            </table>
                        <% } else { %>
                            <div class="row">
                                <br/>
                                <div class="col-xs-12">
                                    <div class="alert alert-info">
                                        You have not created any projects nor are registered as a contributor of any project.
                                        <br/>
                                        <br/>
                                        Please create a project using the button you can see above this message or ask the creator of a project to add you as a contributor.
                                    </div>
                                </div>
                            </div>
                        <% }  %>
                <% } %>
        </div>

</div>
<%- include ../layout/footer.ejs %>

</div>