<%- include ../layout/header.ejs %>

<script type="text/javascript">
    const makeToolTipHtml = function (tooltipTitle, tooltipText) {
        return "<h4>" + tooltipTitle + "</h4>" + tooltipText;
    };
</script>
<div class="container-fluid" ng-controller="projectEditorCtrl" ng-init="init()">
    <div class="row main-row">
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
            <%- include show/breadcrumbs.ejs %>
        </div>

        <%
        if(locals.user != null)
        {
        %>
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group">

                            <button ng-click="toggle_edit_mode()"
                                    type="button"
                                    class="btn btn-sm"
                                    ng-class='{"active": edit_mode, "btn-warning": edit_mode}'>
                                <i class="fa fa-edit"></i>
                                <span class="hidden-xs">
                                    Edit mode <b ng-show="edit_mode">ON</b><b ng-show="!edit_mode">OFF</b>
                                </span>
                            </button>

                            <button class="btn btn-sm" data-toggle="modal" data-target="#share-modal" ng-hide="showing_project_root()">
                                <i class="fa fa-clock-o"></i>
                                    <span class="hidden-xs">
                                        Share
                                    </span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-download"></span>
                                <span class="hidden-xs">
                                    Save
                                </span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a data-ng-click="save_as('txt')" href="#">Save as Text</a></li>
                                <li><a data-ng-click="save_as('json')"  href="#">Save as Json</a></li>
                                <li><a data-ng-click="save_as('rdf')" href="#">Save as RDF</a></li>
                            </ul>
                        </div>

                        <%- include share/popup.ejs %>

                    </div>
                </div>
            </div>
        <%
        }else{
        %>
            <div ng-class='{"col-md-9 col-sm-9 col-xs-9" : !showing_project_root, "col-md-10 col-sm-10 col-xs-10": showing_project_root}'>
                <%- include show/breadcrumbs.ejs %>
            </div>
        <%}%>
    </div>

    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-3" ng-controller="fileExplorerCtrl" ng-init="init()">
            <div class="row">
                <div class="col-xs-12">
                    <br/>
                    <!-- Split button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-hide="files_exist_in_clipboard()" ng-click="toggle_upload_area()">
                            <img class="icon16" id="upload_button" data-loading-text="Uploading..." src="/images/icons/page_white_get.png"> Upload
                        </button>
                        <button type="button" class="btn btn-success" ng-show="files_exist_in_clipboard()" ng-click="paste()">
                            <img class="icon16" id="paste_button" src="/images/icons/page_paste.png">&nbsp; Paste &nbsp; <span ng-show="files_exist_in_clipboard()" class="badge badge-info">{{get_clipboard_file_count()}}</span>
                        </button>
                        <button type="button" class="btn btn-default" ng-show="files_exist_in_clipboard()" ng-click="clear_clipboard()">
                            <img class="icon16" id="paste_button" src="/images/icons/cancel.png">&nbsp; Abort</span>
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-click="mkdir()" ng-hide="showing_a_file()"><a href="#"><img class="icon16" id="new_folder_button" data-loading-text="Creating folder..." src="/images/icons/folder_add.png">Add folder</a></li>
                            <li role="separator" class="divider"></li>
                            <li ng-click="copy()" ng-hide="showing_project_root()"><a href="#"><img class="icon16" id="copy_button" src="/images/icons/page_copy.png">Copy</a></li>
                            <li ng-click="cut()" ng-hide="showing_project_root()"><a href="#"><img class="icon16" id="cut_button"  src="/images/icons/cut.png">Cut</a></li>
                            <li ng-click="rename()" ng-hide="showing_project_root()"><a href="#"><img class="icon16" id="rename_button" src="/images/icons/textfield_rename.png">Rename</a></li>
                            <li role="separator" class="divider" ng-hide="showing_project_root()"></li>
                            <li ng-click="download_folder()"><a href="#"><img class="icon16" id="download_folder_button" data-loading-text="Preparing Package..." src="/images/icons/arrow_down.png">Download</a></li>
                            <li ng-click="backup_folder()" ><a href="#" ng-hide="showing_project_root() || showing_a_file()"><img class="icon16" id="backup_button" data-loading-text="Preparing Package..." src="/images/icons/folder_vertical_zipper.png">Backup</a></li>
                            <li role="separator" class="divider" ng-hide="showing_project_root() || showing_a_file()"></li>
                            <li ng-click="toggle_restore_area()" ><a href="#" ng-hide="showing_project_root() || showing_a_file()"><img class="icon16" id="restore_button" data-loading-text="Restoring..." src="/images/icons/site_backup_and_restore.png">Restore from backup</a></li>
                        </ul>
                    </div>

                    <a href="#" ng-hide="showing_a_file()"><img id="show_deleted_files_button" ng-class="{active: shared.showing_deleted_files, 'btn-info': shared.showing_deleted_files}" data-loading-text="Restoring..." ng-click="toggle_show_deleted_files()" src="/images/icons/bin_recycle.png"></a>
                    <a href="#" ng-hide="showing_a_file()"><img id="toggle_multiple_selection" ng-class="{active: shared.multiple_selection_active, 'btn-info': shared.multiple_selection_active}" ng-click="toggle_multiple_selection()"  src="/images/icons/check_box_list.png"></a>
                    <a href="#" ng-hide="showing_a_file()"><img id="toggle_select_all" ng-click="toggle_select_all_files()"  src="/images/icons/check_boxes_series.png"></a>

                    <div class="ng-hide"
                         id="file_upload_area">
                    </div>
                </div>

                <div ng-controller="uploadsCtrl" ng-init="init(get_calling_uri, 'upload_files', 'upload_files_invalid', 'upload_files_successful', upload_callback, 5000)">
                    <div class="col-xs-12 ng-hide">
                        <%- include ../uploads/upload_box.ejs %>
                    </div>
                    <div class="col-xs-12">
                        <br/>
                        <div class="row" ng-repeat="file in upload_files">
                            <%- include ../uploads/file_upload_progress_bar.ejs %>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
            </div>

            <script type="text/javascript">
                $('#new_folder_button').tooltip({title : "<h4>Add folder</h4>Create a new folder here", html: true});
                $('#upload_button').tooltip({title : "<h4>Upload</h4>Upload files to the current folder", html: true});
                $('#download_folder_button').tooltip({title : "<h4>Download</h4>Download the current folder or file" , html: true});
                $('#backup_button').tooltip({title : "<h4>Backup</h4>Download the current folder, including information", html:true});
                $('#restore_button').tooltip({title : "<h4>Restore</h4>Replace the contents of the current folder with the contents of a backup package", html:true});
                $('#show_deleted_files_button').tooltip({title : "<h4>Show Deleted</h4>Show Deleted Files", html:true});
                $('#toggle_multiple_selection').tooltip({title : "<h4>Select several</h4>Select several files", html:true});
                $('#toggle_select_all').tooltip({title : "<h4>Select all</h4>Select all files", html:true});
            </script>

            <div>
                <h4>Selection</h4>
                <div class="row" readonly="true">
                    <div class="col-xs-12">
                        <button ng-show="shared.multiple_selection_active && file_explorer_selected_something()" id="clear_selection_button" class="btn btn-sm fa fa-ban" ng-click="clear_selection_and_get_parent_metadata()" onmouseover="$(this).toggleClass('btn-primary');" onmouseout="$(this).toggleClass('btn-primary');"></button>
                        <button ng-disabled="!file_explorer_selected_something()"
                                id="download_selection_button"
                                class="btn btn-sm fa fa-download"
                                ng-click="download_selected_items()"
                                onmouseover="$(this).toggleClass('btn-primary');" onmouseout="$(this).toggleClass('btn-primary');"></button>
                        <button ng-disabled="!file_explorer_selected_something()"
                                id="backup_selection_button"
                                class="btn btn-sm fa fa-archive"
                                ng-click="backup_selected_items()"
                                onmouseover="$(this).toggleClass('btn-primary');" onmouseout="$(this).toggleClass('btn-primary');"></button>

                        <button id="delete_selection_button"
                                ng-show="file_explorer_selected_something() && file_explorer_selected_contains_not_deleted()"
                                class="pull-right btn  btn-sm fa fa-eraser"
                                ng-click="delete_file_or_folder()"
                                onmouseover="$(this).toggleClass('btn-danger');" onmouseout="$(this).toggleClass('btn-danger');">
                        </button>

                        <button id="undelete_selection_button"
                                ng-show="file_explorer_selected_something() && file_explorer_selected_contains_deleted()"
                                class="pull-right btn  btn-sm fa fa-undo"
                                ng-click="undelete_file_or_folder()"
                                onmouseover="$(this).toggleClass('btn-success');" onmouseout="$(this).toggleClass('btn-success');">
                        </button>

                        <button id="really_delete_selection_button"
                                ng-show="file_explorer_selected_something() && file_explorer_selected_contains_deleted()"
                                class="pull-right btn btn-sm fa fa-trash-o"
                                ng-click="delete_file_or_folder()"
                                onmouseover="$(this).toggleClass('btn-danger');" onmouseout="$(this).toggleClass('btn-danger');">
                        </button>
                    </div>
                </div>

                <br/>

                <script type="text/javascript">
                    $('#clear_selection_button').tooltip({title : "<h1>Deselect</h1>Deselect items", html:true});
                    $('#delete_selection_button').tooltip({title : "<h1>Delete</h1>Delete the selected items" , html: true});
                    $('#download_selection_button').tooltip({title : "<h1>Download</h1>Download the selected items" , html: true});
                    $('#backup_selection_button').tooltip({title : "<h1>Backup</h1>Backup the selected items" , html: true});
                    $('#undelete_selection_button').tooltip({title : "<h1>Undelete</h1>Undelete the selected items" , html: true});
                    $('#really_delete_selection_button').tooltip({title : "<h1>Really delete</h1>Delete FOREVER" , html: true});
                </script>
            </div>

            <div class="row ng-hide" id="restore_upload_area" ng-show="restore_area_visible && still_uploading_files()" ng-controller="uploadsCtrl" ng-init="init(get_calling_uri)">
                <div class="col-xs-12 ng-hide">
                    <%- include ../uploads/upload_box.ejs %>
                </div>
                <div class="col-xs-12">
                    <br/>
                    <div class="row" ng-repeat="file in upload_files">
                        <%- include ../uploads/file_upload_progress_bar.ejs %>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <%- include show/file_explorer.ejs %>
                </div>
            </div>
        </div>

        <div ng-class="{'col-md-6 col-xs-12 col-sm-9': showing_descriptor_selection_area(), 'col-md-9 col-sm-9 col-xs-9': !showing_descriptor_selection_area()}"
                 ng-controller="metadataEditorCtrl" ng-init="init()">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active">
                        <a href="#metadata-editor" data-toggle="tab" ng-click="load_metadata()">
                            Information
                        </a>
                    </li>
                    <li ng-show="!showing_project_root()">
                        <a href="#change_log"
                           data-toggle="tab"
                           ng-controller="changeLogController"
                           ng-click="get_recent_changes_of_resource()">
                            <span class="label label-success">File</span>
                            Changes
                        </a>
                    </li>
                    <li>
                        <a href="#change_log_project"
                           data-toggle="tab"
                           ng-controller="changeLogController"
                           ng-click="get_recent_changes_of_project()">
                            <span class="label label-info">Project</span>
                            Changes
                        </a>
                    </li>
                    <li>
                        <a href="#stats" data-toggle="tab" ng-controller="changeLogController" ng-click="get_project_stats()" ><span class="label label-info">Project</span> Stats</a>
                    </li>
                </ul>

            <!-- tab panes -->
            <div class="tab-content" ng-hide="shared.multiple_selection_active && file_explorer_selected_something()">
                <div class="tab-pane active" id="metadata-editor" ng-init="init()">
                    <br/>
                    <div ng-show="showing_project_root()">
                        <div ng-show="shared.metadata != null">
                            <%- include show/metadata_viewer.ejs %>
                        </div>
                    </div>
                    <div ng-show="!showing_project_root()">
                        <div ng-show="edit_mode">

                            <div ng-show="shared.metadata != null">
                                <%- include show/metadata_editor.ejs %>
                            </div>

                        </div>
                        <div ng-show="!edit_mode">
                            <div>
                                <%- include show/file_preview.ejs %>
                            </div>
                            <br/>
                            <div ng-show="has_editable_metadata()">
                                <%- include show/metadata_viewer.ejs %>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="change_log" ng-controller="changeLogController">
                    <div class="row">
                        <div class="col-lg-12">
                            <%- include show/changelog_modal.ejs %>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="change_log_project" ng-controller="changeLogController">
                    <div class="row">
                        <div class="col-lg-12">
                            <%- include show/changelog_modal.ejs %>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="stats" ng-controller="changeLogController">
                    <div class="row">
                        <div class="col-lg-12">
                            <%- include show/stats_modal.ejs %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content" ng-show="shared.multiple_selection_active && file_explorer_selected_something()">
                <div class="tab-pane active">
                    <br/>
                    <div class="panel panel-warning" >
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Multiple files selected
                            </h3>
                        </div>
                        <div class="panel-body">
                            You cannot view or edit metadata while multiple file selection is active. Turn it off on the menu on the left <i class="fa fa-check-square-o"></i>.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xs-12 col-sm-12" id="improvements" ng-show="showing_descriptor_selection_area()" ng-controller="descriptorListCtrl" ng-init="init()" ng-show="!(shared.multiple_selection_active && file_explorer_selected_something())">
            <%- include show/descriptor_selection_variants/descriptors_selection_area_rec.ejs %>
        </div>

    </div>

    <br/>

<%- include ../layout/footer.ejs %>