<%- include ../layout/header.ejs %>

<h1 class="page-header">
    System administration page
</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#ontologies" role="tab" data-toggle="tab">Ontologies</a>
    </li>
    <li>
        <a href="#research_domains" role="tab" data-toggle="tab">Research Domains</a>
    </li>
    <!-- TODO -->
    <!-- <li>
        <a href="#application_profiles" role="tab" data-toggle="tab">Application Profiles</a>
    </li> -->
    <!-- TODO -->
    <li>
        <a href="#actions" role="tab" data-toggle="tab">Actions</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="ontologies" ng-controller="ontologiesCtrl" ng-init="init()">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Editing ontologies
                </h4>
                <%- include ../ontologies/edit.ejs %>
            </div>
        </div>
    </div>
    <!-- TODO -->
    <!--<div class="tab-pane" id="application_profiles" ng-controller="applicationProfilesCtrl">
        <div class="row">
            <div class="col-lg-12">
                <%- include ../application_profiles/edit.ejs %>
            </div>
        </div>
    </div>-->
    <div class="tab-pane" id="research_domains" ng-controller="researchDomainsCtrl">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Editing research domains
                </h4>
                <%- include ../research_domains/edit.ejs %>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="actions">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    Actions
                </h4>
            </div>
        </div>
        <div class="tab-pane" id="actions">
            <!--<div class="well">-->
                <!--<h4>Load resources from locally stored datasets</h4>-->
                <!--<form action="/admin/reload" method="get">-->
                    <!--<p class="help-block">Select the graphs you want to reload</p>-->
                    <!--<div class="row">-->
                        <!--<div class="col-lg-3">-->
                            <!--<label class="checkbox">-->
                                <!--<input type="checkbox" name="graphs[dbpedia]" value="dbpedia" checked>DBpedia</input>-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--<div class="col-lg-9">-->
                            <!--<label class="checkbox">-->
                                <!--<input type="checkbox" name="graphs_to_delete[dbpedia]" value="1" checked>Delete existing</input>-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                        <!--<div class="col-lg-3">-->
                            <!--<label class="checkbox">-->
                                <!--<input type="checkbox" name="graphs[dryad]" value="dryad" checked>Dryad</input>-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--<div class="col-lg-9">-->
                            <!--<label class="checkbox">-->
                                <!--<input type="checkbox" name="graphs_to_delete[dryad]" value="1" checked>Delete existing</input>-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                        <!--<div class="col-lg-3">-->
                            <!--<label class="checkbox">-->
                                <!--<input type="checkbox" name="graphs[freebase]" value="freebase" checked>Freebase</input>-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--<div class="col-lg-9">-->
                            <!--<label class="checkbox">-->
                                <!--<input type="checkbox" name="graphs_to_delete[freebase]" value="1" checked>Delete existing</input>-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<input type="submit" value="Proceed" class="btn btn-primary">-->
                <!--</form>-->
            <!--</div>-->
            <!--</div>-->

            <h3>Reindex all resources from a graph</h3>
            <div class="help-block">if your search box is not working properly, reindex the resources in the database.</div>
            <form action="/admin/reindex" method="post">
                <%
                    var keys = Object.keys(db);
                    for (var i = 0; i < keys.length; i++) {

                    var graph = db[keys[i]];

                %>
                    <div class="row">
                        <h4>Graph <%=graph.graphHandle%></h4>
                        <div class="col-lg-12">
                            <input type="checkbox" id="reindex_<%=graph.graphHandle%>_graph_checkbox" name="graphs[<%=graph.graphHandle%>]" value="<%=graph.graphHandle%>" checked>Delete (Working Graph)</input>
                        </div>
                        <div class="col-lg-12">
                            <input type="checkbox" name="graphs_to_delete[<%=graph.graphHandle%>]" value="1" checked>Delete existing index (will not delete base data)</input>
                        </div>
                    </div>
                <% } %>
                <input type="submit" value="Reindex" class="btn btn-primary">

                <p class="help-block">Select the graphs you want to reindex</p>
            </form>
        </div>
    </div>
</div>


<%- include ../layout/footer.ejs %>
