<%- include ../layout/header.ejs %>

<h1 class="page-header">
    Viewing ontology <%= ontology.dcterms.description %> (<%= ontology.uri %>)
</h1>

<br/>

<table class="table">
    <tr>
        <td>
            <b>Uri</b>
        </td>
        <td>
            <%= ontology.ddr.humanReadableURI %>
        </td>
    </tr>
    <tr>
        <td>
            <b>Prefix</b>
        </td>
        <td>
            <%= ontology.prefix %>
        </td>
    </tr>
    <tr>
        <td>
            <b>Domain (s)</b>
        </td>
        <td>
            <%= ontology.ddr.hasResearchDomain %>
        </td>
    </tr>
</table>


<%- include ../layout/footer.ejs %>
