<%- include ../layout/header.ejs %>

<%
if(results.length > 0)
{
%>
    <h1 class="page-header">
        Search results
    </h1>
    <form action="" method="get">

        <%if(typeof locals.currentPage != "undefined" && typeof locals.pageSizes != "undefined") { %>
        <div class="input-append">
            <input type="hidden" id="currentPage" value="<%= currentPage %>"/>

            Results per page :
            <select name="pageSize" id="pageSizeComboBox">

                <% var pageSizes = [20, 50, 200]; %>
                <% for (var i = 0; i < pageSizes.length; i++) { %>

                <option value="<%= pageSizes[i] %>"
                        <% if(pageSizes[i] == locals.pageSize) { %>
                        selected="true"
                        <% } %>>
                    <%= pageSizes[i] %>
                </option>

                <% } %>

                <option value="50">50</option>
                <option value="200">300</option>
                <option value="0">ALL</option>
            </select>

            <input type=submit value="Update" class="btn"/>
        </div>

        <% } %>

        <% for(var i = 0; i < results.length; i++) {

            var result = results[i];
            var resultType = types[i];
            var resultMetadata = metadata[i];
        %>
        <div class="well">
            <div class="row">
                <div class="col-lg-1">
                <% var titleValue;%>
                <% if(resultType === "folder") { %>
                    <img src="<%=result.uri%>?thumbnail&size=tiny">
                    <%titleValue = result.nie.title %>
                <%} else if(resultType === "project") { %>
                    <img src="/images/icons/box_closed.png">
                    <%titleValue= result.nie.title %>
                <%} else if(resultType === "file") { %>
                    <img src="<%=result.uri%>?thumbnail&size=tiny">
                    <%titleValue= result.nie.title %>
                <%} else if(resultType === "user") { %>
                    <img src="<%=result.uri%>?avatar">
                    <%titleValue = result.foaf.firstname + " " + result.foaf.lastname %>
                <%} %>
                </div>
                <div class="col-lg-2">
                    <b><a href="<%=result.uri%>"><%=titleValue%></a></b>
                </div>
                <div class="col-lg-9">
                    <%=JSON.stringify(resultMetadata, null, 4)%>
                </div>
            </div>
        </div>
        <% } %>
    </form>

    <%if(typeof currentPage != "undefined" && typeof pageSizes != "undefined") { %>

    <% if( locals.currentPage > 0 ) {%>
    <a href="?pageSize=&currentPage=<%= currentPage-1%>"> << Previous Page </a>
    <% } %>

    <a href="?pageSize=<%= pageSize%>&currentPage=<%= currentPage+1%>"> Next Page >> </a>

    <% } %>
<%
} else {
%>

<h1 class="page-header">
    No search results
</h1>

<%}%>

<%- include ../layout/footer.ejs %>
