<%- include ../layout/header.ejs %>

<%
if(results.length > 0)
{
%>
    <h1 class="page-header">
        Search results
    </h1>
    <form action="" method="get">

        <%if(typeof locals.currentPage != "undefined" && typeof locals.pageSizes != "undefined") { %>
        <div class="input-append">
            <input type="hidden" id="currentPage" value="<%= currentPage %>"/>

            Results per page :
            <select name="pageSize" id="pageSizeComboBox">

                <% var pageSizes = [20, 50, 200]; %>
                <% for (var i = 0; i < pageSizes.length; i++) { %>

                <option value="<%= pageSizes[i] %>"
                        <% if(pageSizes[i] == locals.pageSize) { %>
                        selected="true"
                        <% } %>
                >
                    <%= pageSizes[i] %></option>

                <% } %>


                <option value="50">50</option>
                <option value="200">300</option>
                <option value="0">ALL</option>
            </select>

            <input type=submit value="Update" class="btn"/>
        </div>

        <% } %>
        <% for(var i = 0; i < results.length; i++) {

            var result = results[i];
        %>
        <div class="well">
            <div class="row">
                <div class="col-lg-12">
                    <b><a href="<%=result.uri%>"><%=result.uri %></a></b>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <%
                    for (var j = 0; j < result.indexData.descriptors.length; j++)
                    {
                        var descriptor = result.indexData.descriptors[j];
                    %>
                    <div class="row">
                        <div class="col-lg-6">
                            <%= descriptor.predicate %>
                        </div>

                        <div class="col-lg-6">
                            <%= descriptor.object %>
                        </div>
                    </div>
                    <%
                    }
                    %>
                </div>
                <div class="col-lg-3">
                    <b>Similar resources</b>
                    <%
                    for (var j = 0; j < result.recommendations.length; j++)
                    {
                        var recommendation = result.recommendations[j];
                    %>
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="<%= recommendation.uri %>"><%= recommendation.uri %><span class="badge">Score : <%= recommendation.indexData.score %></span></a>
                        </div>
                    </div>
                    <%
                    }
                    %>
                </div>
            </div>
        </div>
        <% } %>
    </form>

    <%if(typeof currentPage != "undefined" && typeof pageSizes != "undefined") { %>

    <% if( locals.currentPage > 0 ) {%>
    <a href="?pageSize=&currentPage=<%= currentPage-1%>"> << Previous Page </a>
    <% } %>

    <a href="?pageSize=<%= pageSize%>&currentPage=<%= currentPage+1%>"> Next Page >> </a>

    <% } %>
<%
} else {
%>

<h1 class="page-header">
    No search results
</h1>

<%}%>

<%- include ../layout/footer.ejs %>
