	<%- include ../layout/header.ejs %>

    <h1 class="page-header">
        Users
    </h1>

        <%- include ../layout/pagination/start.ejs %>

            <% if(!(typeof locals.users === 'undefined'))
            {
            %>
                <br/>
                <table class="table">
                    <tr>
                        <th>
                            Avatar
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Surname
                        </th>
                    </tr>
                <%  var total = locals.users.length;
                    var count = locals.count;
                    for(var i=0; i < total; i++)
                {
                    var user = locals.users[i];
                %>
                <tr>
                    <td>
                        <img class="img-circle show-avatar-in-header" src="<%= user.uri%>?avatar" alt="<%= user.ddr.username %>">
                    </td>
                    <td>
                        <b>
                            <a href="<%=user.uri%>"><%= user.ddr.username %></a>
                        </b>
                    </td>
                    <td>
                        <%= user.foaf.firstName %>
                    </td>
                    <td>
                        <b><%= user.foaf.surname %></b>
                    </td>
                </tr>

            <% } %>

            </table>

        <% } %>

	<%- include ../layout/pagination/end.ejs %>

	<%- include ../layout/footer.ejs %>
