<<<<<<< HEAD
<%- include ../layout/header.ejs %>
<%- include ../layout/pagination/start.ejs %>

<% if(!(typeof locals.users === 'undefined'))
{
%>
<br/>
<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            First Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Score
        </th>
        <th>
            Reputation
        </th>
    </tr>
    <% for(var i=0; i < locals.users.length; i++)
    {
        var user = locals.users[i];
=======
	<%- include ../layout/header.ejs %>

    <h1 class="page-header">
        Users
    </h1>

        <%- include ../layout/pagination/start.ejs %>

            <% if(!(typeof locals.users === 'undefined'))
            {
            %>
                <br/>
                <table class="table">
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Surname
                        </th>
                    </tr>
                <%  var total = locals.users.length;
                    var count = locals.count;
                    for(var i=0; i < total; i++)
                {
                    var user = locals.users[i];
                %>
                <tr>
                    <td>
                        <b>
                            <a href="/user/<%=user.ddr.username%>"><%= user.ddr.username %></a>
                        </b>
                    </td>
                    <td>
                        <%= user.foaf.firstName %>
                    </td>
                    <td>
                        <b><%= user.foaf.surname %></b>
                    </td>
                </tr>
>>>>>>> master

        var level = "";
        var nextlevel = "";
        var percentage = 0;


        switch (true) {
            case (0 < user.gm.score && user.gm.score < 1000):
                level = "Baby";
                nextlevel = "Children";
                percentage = (user.gm.score / 1000) * 100;
                break;
            case (1000 <= user.gm.score && user.gm.score < 2000):
                level = "Children";
                nextlevel = "Student";
                percentage = ((user.gm.score - 1000) / 1000) * 100;
                break;
            case (2000 <= user.gm.score && user.gm.score < 3000):
                level = "Student";
                nextlevel = "Graduate";
                percentage = ((user.gm.score - 2000) / 1000) * 100;
                break;
            case (3000 <= user.gm.score && user.gm.score < 4000):
                level = "Graduate";
                nextlevel = "Researcher";
                percentage = ((user.gm.score - 3000) / 1000) * 100;
                break;
            case (4000 <= user.gm.score && user.gm.score < 5000):
                level = "Researcher";
                nextlevel = "Nobel Prize";
                percentage = ((user.gm.score - 4000) / 1000) * 100;
                break;
            case (5000 <= user.gm.score ):
                level = "Nobel Prize";
                break;
        }

        percentage = Math.round(percentage);
    %>
    <tr>
        <td>
            <b>
                <a href="/user/<%=user.ddr.username%>"><%= user.ddr.username %></a>
            </b>
        </td>
        <td>
            <%= user.foaf.firstName %>
        </td>
        <td>
            <b><%= user.foaf.surname %></b>
        </td>
        <td>
            <b><%= user.gm.score %></b>
        </td>
        <td>
            <b><%= level %> <%if(level=="Nobel Prize") {%> (On the top!) <% } else { %> (<%=percentage%>% to <%=nextlevel%>) <%}%></b>
        </td>
    </tr>
    <% } %>
</table>
<% } %>

<%- include ../layout/pagination/end.ejs %>

<%- include ../layout/footer.ejs %>