<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Password reset form</title>
    </head>
    <body>

    Hello <%= locals.user.foaf.firstName%> <%= locals.user.foaf.surname%>,
    <br/>
    <br/>
    We have received a password reset request for your Dendro instance at:
    <br/>
    <br/>
    <%=locals.url%>
    <br/>
    <br/>
    Please click on the following link to specify a new password and login to the system:
    <br/>
    <b>
        <a href="<%=locals.url%>/set_new_password?email=<%=locals.email%>&token=<%=locals.token%>"><%=locals.url%>/reset_password?email=<%=locals.email%>&token=<%=locals.token%></a>
    </b>
    <br/>
    <br/>
    <br/>
    <br/>
    Thank you,
    <br/>
    The Dendro administration team at <%=locals.url%>
    <br/>
    </body>
</html>


