<%- include ../layout/header.ejs %>

<div class="wrap">
    <h1 class="page-header">
        Resetting password for  <b><%=locals.email%></b>
    </h1>

    <br/>

    <form action="/set_new_password" method="POST" data-parsley-validate="">
        <div class="row">
            <div class="span6 offset3">
                <div class="row">
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Enter your new password</label>

                        <div class="col-sm-10">
                            <input
                                    type="password"
                                    class="form-control"
                                    id="new_password"
                                    placeholder="New Password"
                                    name="new_password"
                                    data-parsley-trigger="change"
                                    required=""
                                    data-parsley-minlength="8">
                            <p class="help-block">New password</p>
                        </div>

                        <label for="password_confirm" class="col-sm-2 control-label">Confirm your new password </label>
                        <div class="col-sm-10">
                            <input
                                    type="password"
                                    class="form-control"
                                    id="new_password_confirm"
                                    placeholder="Confirm new password"
                                    name="new_password_confirm"
                                    data-parsley-trigger="change"
                                    required=""
                                    data-parsley-minlength="8">
                            <p class="help-block">New password (confirm)</p>
                        </div>

                    </div>
                <button class="btn btn-primary">Reset my password</button>
                </div>
            </div>

            <input type="hidden" value="<%=locals.token%>" id="token" name="token"/>
            <input type="hidden" value="<%=locals.email%>" id="email" name="email"/>

        </div>
    </form>
</div>


<%- include ../layout/footer.ejs %>
