<%- include ../layout/header.ejs %>

<h1 class="page-header">
    Viewing user <%= locals.user.foaf.firstName %> <%= locals.user.foaf.surname %>
    <img class="img-circle show-avatar-in-profile" ng-src="/user/<%=locals.user.ddr.username%>?avatar">
</h1>

<br/>

<table class="table">
    <tr>
        <td>
            <b>Username</b>
        </td>
        <td>
            <%= locals.user.ddr.username%>
        </td>
    </tr>
    <tr>
        <td>
            <b>Name</b>
        </td>
        <td>
            <%= locals.user.foaf.firstName %> <%= locals.user.foaf.surname %>
        </td>
    </tr>
    <tr>
        <td>
            <b>Email address</b>
        </td>
        <td>
            <a href="mailto:<%= locals.user.foaf.mbox %>"><%= locals.user.foaf.mbox %></a>
        </td>
    </tr>
    <tr>
        <td>
            <b>URI</b>
        </td>
        <td>
            <a href="<%= locals.user.uri %>"><%= locals.user.uri %></a>
        </td>
    </tr>
</table>


<%- include ../layout/footer.ejs %>
