<%- include ../layout/header.ejs %>

<h1 class="page-header">
    Viewing user <%= user.foaf.firstName %> <%= user.foaf.surname %>
</h1>

<br/>

<div class="container">
    <div class="col-md-4 pull-left pr-4">
        <table class="table">
            <tr>
                <td>
                    <b>Username</b>
                </td>
                <td>
                    <%= user.ddr.username %>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    <%= user.foaf.firstName %> <%= user.foaf.surname %>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Email address</b>
                </td>
                <td>
                    <a href="mailto:<%= user.foaf.mbox %>"><%= user.foaf.mbox %></a>
                </td>
            </tr>
            <tr>
                <td>
                    <b>URI</b>
                </td>
                <td>
                    <a href="<%= user.uri %>"><%= user.uri %></a>
                </td>
            </tr>
        </table>
    </div>
    <%
    var level = "";
    var nextlevel = "";
    var percentage = 0;
    var goal = 0;

    switch (true) {
        case (0 < user.gm.score && user.gm.score < 1000):
            level = "Baby";
            nextlevel = "Children";
            percentage = (user.gm.score / 1000) * 100;
            break;
        case (1000 <= user.gm.score && user.gm.score < 2000):
            level = "Children";
            nextlevel = "Student";
            percentage = ((user.gm.score - 1000) / 1000) * 100;
            break;
        case (2000 <= user.gm.score && user.gm.score < 3000):
            level = "Student";
            nextlevel = "Graduate";
            percentage = ((user.gm.score - 2000) / 1000) * 100;
            break;
        case (3000 <= user.gm.score && user.gm.score < 4000):
            level = "Graduate";
            nextlevel = "Researcher";
            percentage = ((user.gm.score - 3000) / 1000) * 100;
            break;
        case (4000 <= user.gm.score && user.gm.score < 5000):
            level = "Researcher";
            nextlevel = "Nobel Prize";
            percentage = ((user.gm.score - 4000) / 1000) * 100;
            break;
        case (5000 <= user.gm.score ):
            level = "Nobel Prize";
            break;
    }

    percentage = Math.round(percentage);
    %>

    <div class="col-md-4 pull-left pr-4">
        <div style="height: 100px" class="text-center"><h1><%= user.gm.score %>pt</h1>
            <h3><%= level %></h3></div>
        <div class="col-md-8 col-md-offset-2">
            <% if(level != "Nobel Prize") { %>
            <div id="percentage" style="width:100%; height:20px; border-style: solid">
                <div style="background-color: #00A000;width:<%= percentage %>%;height: 100%"></div>
            </div>
            <div class="text-center">
                <h3> <%= percentage %>% to <%= nextlevel %></h3>
            </div>
            <%
            }
            else
            {
            %>
            <h2>Congratulations! You are already on the top !</h2>
            <%
            }
            %>
            <div>
                <span class="glyphicon glyphicon-stats" data-toggle="modal" data-target="#statsModal"></span>
                <%
                var summax = 0;
                for (var i = 0; i < dates.length; i++) {
                    var date = dates[i];
                    var sum = parseInt(date[0]) + parseInt(date[1]);
                    if (sum >= summax) {
                        summax = sum;
                    }
                }
                %>

                <div id="statsModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Stats</h4>
                            </div>
                            <div class="modal-body">
                                <div style="float:left;width: 5%; height: 20px; background-color: rebeccapurple"></div><div style="float:right;width: 92%; height: 20px">Descriptors</div>
                                <div style="float:left;width: 5%; height: 20px; background-color: darkcyan"></div><div style="float:right;width: 92%; height: 20px">Projects</div>
                                <div style="height: 20px;width: 100%;float: left"></div>
                                <%
                                var lastweekdesper = parseInt(dates[0][0]) / summax * 100;
                                var lastweekproper = parseInt(dates[0][1]) / summax * 100;
                                var twoweekdesper = parseInt(dates[1][0]) / summax * 100;
                                var twoweekproper = parseInt(dates[1][1]) / summax * 100;
                                var threeweekdesper = parseInt(dates[2][0]) / summax * 100;
                                var threeweekproper = parseInt(dates[2][1]) / summax * 100;
                                var fourweekdesper = parseInt(dates[3][0]) / summax * 100;
                                var fourweekproper = parseInt(dates[3][1]) / summax * 100;
                                var lastdaydesper = parseInt(dates[4][0]) / summax * 100;
                                var lastdayproper = parseInt(dates[4][1]) / summax * 100;
                                var twodaydesper = parseInt(dates[5][0]) / summax * 100;
                                var twodayproper = parseInt(dates[5][1]) / summax * 100;
                                var threedaydesper = parseInt(dates[6][0]) / summax * 100;
                                var threedayproper = parseInt(dates[6][1]) / summax * 100;
                                var fourdaydesper = parseInt(dates[7][0]) / summax * 100;
                                var fourdayproper = parseInt(dates[7][1]) / summax * 100;
                                %>

                                <div id="percentage1d" style="width:80%; height:20px; float: left">
                                    <div title="<%= dates[4][0] %>" style="background-color:rebeccapurple;width:<%= lastdaydesper %>%;height: 100%;float:left;"></div>
                                    <div title="<%= dates[4][1] %>" style="background-color: darkcyan;width:<%= lastdayproper %>%;height: 100%;float:left;"></div>
                                </div><div  style="width:15%; height:20px; float: right">1D</div>
                                <div style="height: 5px;width: 100%;float: left"></div>
                                <div id="percentage2d" style="width:80%; height:20px; float: left">
                                    <div title="<%= dates[5][0] %>" style="background-color: rebeccapurple;width:<%= twodaydesper %>%;height: 100%;float:left;"></div>
                                    <div title="<%= dates[5][1] %>" style="background-color: darkcyan;width:<%= twodayproper %>%;height: 100%;float:left;"></div>
                                </div><div  style="width:15%; height:20px; float: right">2D</div>
                                <div style="height: 5px;width: 100%;float: left"></div>
                                <div id="percentage3d" style="width:80%; height:20px; float: left">
                                    <div title="<%= dates[6][0] %>" style="background-color: rebeccapurple;width:<%= threedaydesper %>%;height: 100%;float:left;"></div>
                                    <div title="<%= dates[6][1] %>" style="background-color: darkcyan;width:<%= threedayproper %>%;height: 100%;float:left;"></div>
                                </div><div  style="width:15%; height:20px; float: right">3D</div>
                                <div style="height: 5px;width: 100%;float: left"></div>
                                <div id="percentage4d" style="width:80%; height:20px; float: left">
                                    <div title="<%= dates[7][0] %>" style="background-color: rebeccapurple;width:<%= fourdaydesper %>%;height: 100%;float:left;"></div>
                                    <div title="<%= dates[7][1] %>" style="background-color: darkcyan;width:<%= fourdayproper %>%;height: 100%;float:left;"></div>
                                </div><div  style="width:15%; height:20px; float: right">4D</div>
                                <div style="height: 5px;width: 100%;float: left"></div>


                                <div id="percentage1w" style="width:80%; height:20px; float: left; ">
                                    <div title="<%= dates[0][0] %>" style="background-color:rebeccapurple;width:<%= lastweekdesper %>%;height: 100%;float:left;"></div>
                                    <div title="<%= dates[0][1] %>" style="background-color: darkcyan;width:<%= lastweekproper %>%;height: 100%;float:left;"></div>
                                </div><div  style="width:15%; height:20px; float: right">1W</div>
                                <div style="height: 5px;width: 100%;float: left"></div>

                                <div id="percentage2w" style="width:80%; height:20px; float: left">
                                    <div title="<%= dates[1][0] %>" style="background-color: rebeccapurple;width:<%= twoweekdesper %>%;height: 100%;float:left;"></div>
                                    <div title="<%= dates[1][1] %>" style="background-color: darkcyan;width:<%= twoweekproper %>%;height: 100%;float:left;"></div>
                                </div><div  style="width:15%; height:20px; float: right">2W</div>
                                <div style="height: 5px;width: 100%;float: left"></div>

                                <div id="percentage3w" style="width:80%; height:20px; float: left">
                                    <div title="<%= dates[2][0] %>" style="background-color: rebeccapurple;width:<%= threeweekdesper %>%;height: 100%;float:left;"></div>
                                    <div title="<%= dates[2][1] %>" style="background-color: darkcyan;width:<%= threeweekproper %>%;height: 100%;float:left;"></div>
                                </div><div  style="width:15%; height:20px; float: right">3W</div>
                                <div style="height: 5px;width: 100%;float: left"></div>

                                <div id="percentage4w" style="width:80%; height:20px; float: left">
                                    <div title="<%= dates[3][0] %>" style="background-color: rebeccapurple;width:<%= fourweekdesper %>%;height: 100%;float:left;"></div>
                                    <div title="<%= dates[3][1] %>" style="background-color: darkcyan;width:<%= fourweekproper %>%;height: 100%;float:left;"></div>
                                </div><div  style="width:15%; height:20px; float: right">4W</div>
                                <div style="height: 5px;width: 100%;float: left"></div>
ll


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>
    <div class="col-md-4 pull-left">
        <% if(!(typeof medaltypes === 'undefined'))
        {
        %>
        <table>
            <% for(var i = 0; i < medaltypes.length; i++)
            {
                var medaltype = medaltypes[i];
                var earned = false;
                var percentageMedal=0;
                if(medaltype.gm.objectType=="Project")
                {

                    if(progressProject.gm.numActions>=medaltype.gm.numActions)
                    {
                        percentageMedal=100;
                    }
                    else
                    {
                        percentageMedal= (progressProject.gm.numActions/medaltype.gm.numActions)*100;
                    }
                    percentageMedal = Math.round(percentageMedal);

                }
                else if(medaltype.gm.objectType=="Descriptor")
                {

                    if(progressDescriptor.gm.numActions>=medaltype.gm.numActions)
                    {
                        percentageMedal=100;
                    }
                    else
                    {
                        percentageMedal= (progressDescriptor.gm.numActions/medaltype.gm.numActions)*100;
                    }
                    percentageMedal = Math.round(percentageMedal);

                }

                else if(medaltype.gm.objectType=="Rating")
                {

                    if(progressRating.gm.numActions>=medaltype.gm.numActions)
                    {
                        percentageMedal=100;
                    }
                    else if(progressRating.gm.numActions<0)
                    {
                        percentageMedal=0;
                    }
                    else
                    {
                        percentageMedal= (progressRating.gm.numActions/medaltype.gm.numActions)*100;
                    }
                    percentageMedal = Math.round(percentageMedal);

                }

                else if(medaltype.gm.objectType=="Signup")
                {

                    if(progressSignup.gm.numActions>=medaltype.gm.numActions)
                    {
                        percentageMedal=100;
                    }
                    else
                    {
                        percentageMedal= (progressSignup.gm.numActions/medaltype.gm.numActions)*100;
                    }
                    percentageMedal = Math.round(percentageMedal);

                }

                for (var j = 0; j < medals.length; j++) {
                    var medal = medals[j];
                    if (medaltype.uri == medal.gm.hasType) {
                        earned = true;
                        break;
                    }
                }
            %>
            <% if ( i == 0 || i == 3 || i == 6 || i == 9 || i == 12) { %>

            <tr>
                <% } %>

                <td class="col-md-4" data-toggle="modal" data-target="#<%= medaltype.dcterms.title %>Modal">
                    <div>
                        <img src="/images/game/<%= medaltype.gm.material %><% if (!earned) { %>-off<% } %>.png"
                             width="50px" height="70px">
                    </div>
                    <div>
                        <% if (earned) { %>
                        <b>
                            <% } %>
                            <%= medaltype.dcterms.title %>
                            <% if (earned) { %>
                        </b>
                        <% } %>
                        <div id="percentage" style="width:100%; height:5px; border-style: solid;border-width: 0.1px;">
                            <div style="background-color: #00A000;width:<%= percentageMedal %>%;height: 100%"></div>
                        </div>
                    </div>
                </td>
                <% if (i == 2 || i == 5 || i == 8 || i == 11 || i == medaltypes.length) { %>
            </tr>
            <%
            }
            %>
            <div id="<%= medaltype.dcterms.title %>Modal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><%= medaltype.dcterms.title %></h4>
                        </div>
                        <div class="modal-body">
                            <div >
                                <img class="center-block" src="/images/game/<%= medaltype.gm.material %><% if (!earned) { %>-off<% } %>.png"
                                     width="100px" height="140px">
                            </div>
                            <div class="text-center"><h3>Goal : <%= medaltype.gm.numActions %> <%= medaltype.gm.objectType %><% if (medaltype.gm.numActions>1){%>s<%}%></h3> </div>
                            <p class="text-center"><%= medaltype.dcterms.description %></p>
                            <div id="percentage" style="width:100%; height:20px; border-style: solid">
                                <div style="background-color: #00A000;width:<%= percentageMedal %>%;height: 100%"></div>
                            </div>
                            <div class="text-center">
                                <h3> <%= percentageMedal %>%</h3>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <%
            }
            %>
        </table>
        <% } %>
    </div>

</div>


<%- include ../layout/footer.ejs %>