<%- include ../layout/header.ejs %>

<h1 class="page-header">
    Viewing user <%= user.foaf.firstName %> <%= user.foaf.surname %>
</h1>

<br/>

<table class="table">
    <tr>
        <td>
            <b>Username</b>
        </td>
        <td>
            <%= user.ddr.username%>
        </td>
    </tr>
    <tr>
        <td>
            <b>Name</b>
        </td>
        <td>
            <%= user.foaf.firstName %> <%= user.foaf.surname %>
        </td>
    </tr>
    <tr>
        <td>
            <b>Email address</b>
        </td>
        <td>
            <a href="mailto:<%= user.foaf.mbox %>"><%= user.foaf.mbox %></a>
        </td>
    </tr>
    <tr>
        <td>
            <b>URI</b>
        </td>
        <td>
            <a href="<%= user.uri %>"><%= user.uri %></a>
        </td>
    </tr>
</table>


<%- include ../layout/footer.ejs %>
